body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
}

.containerCalculator {
  width: 500px;
  height: auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.containerCalculator:hover {
  transform: scale(1.05);
}

.outputBlock {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #ffffff;
  border: 1px solid #333333;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #292929;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  align-items: center;
}

.blockButton {
  width: 100%;
  height: 100%;
  min-height: 500px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.button {
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #2e2e2e;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  background-color: #444444;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.button.operator {
  background-color: #b30000;
  color: #ffffff;
}

#_3,
#_7,
#_11,
#_15,
#_19 {
  background-color: #f9a825;
  color: #fff;
}
#_3:hover,
#_7:hover,
#_11:hover,
#_15:hover,
#_19:hover {
  background-color: #ffca28;
}
